<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Рога и копыта</h1>
            <p>Узнать больше о лучшем поставщике рогов</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Узнать больше &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Рога</h2>
                <p>Тут мог быть интересный текст </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Копыта</h2>
                <p>Тут мог быть интересный текст </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Остальное</h2>
                <p>Тут мог быть интересный текст
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>
        <hr>
    </div>
</main>
<app-footer></app-footer>